{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
{% extends 'sysadmin/page.html.twig' %}

{% block content %}

	<h2>Current Details</h2>

	<table class="oneData">
		<tr>
			<th>OAuth Key</th>
			<td>{{ oauth_key }}</td>
		</tr>
		<tr>
			<th>OAuth Secret</th>
			<td>{{ oauth_secret }}</td>
		</tr>
		<tr>
			<th>Access Token</th>
			<td>{{ access_token }}</td>
		</tr>
		<tr>
			<th>Refresh Token</th>
			<td>{{ refresh_token }}</td>
		</tr>
	</table>

	<h2>New Details</h2>
	
	<form action="#" method="post"  class="styled">
		<input type="hidden" name="CSFRToken" value="{{ getCSFRToken() }}">
		<input type="hidden" name="submitted" value="appdetails">
		
		<div class="rowWrapper">
			<label>
			<div class="labelWrapper">New Oauth Key</div>
			<div class="widgetWrapperPlacementOnly smallInputs">
				<input type="text" name="oauth_key">
			</div>
			</label>
			<div class="after"></div>
		</div>

		<div class="rowWrapper">
			<label>
			<div class="labelWrapper">New Oauth Secret</div>
			<div class="widgetWrapperPlacementOnly smallInputs">
				<input type="text" name="oauth_secret">
			</div>
			</label>
			<div class="after"></div>
		</div>

		
		<input type="submit"  value="Save" />	
		
		
	</form>

	<h2>Generate Access and Refresh Token</h2>

	<a href="https://secure.meetup.com/oauth2/authorize?client_id={{ oauth_key }}&response_type=code&redirect_uri={{ config.getWebIndexDomainSecure() }}{{ '/meetupdotcomoauthcallback'|url_encode }}&state={{  state | url_encode }}">
		Generate Access and Refresh Token
	</a>

{% endblock %}


