<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	</head>
	<body style="padding: 0px; font-family: arial, sans-serif;">
		<div id="header" style="padding: 0; margin: 5px; background-color: {{ themeVariables.colourMain  }}; background-image: -webkit-linear-gradient(top,  {{ themeVariables.colourLighter1 }},  {{ themeVariables.colourMain }}); background-image: linear-gradient(to bottom,  {{ themeVariables.colourLighter1 }},  {{ themeVariables.colourMain }}); border-bottom:   {{ themeVariables.colourDarker2 }} 2px solid;">
			{% if config.siteWideMessageHTMLForEmail %}
				<div style="background: white; padding: 10px; max-width: 350px; float: right; text-align: center;   border-bottom-left-radius: 10px;  border-bottom-right-radius: 10px; margin: 0 10px 10px 10px;">
					{{config.siteWideMessageHTMLForEmail|raw}}
				</div>
			{% endif %}
			<a href="{{ config.getWebIndexDomainSecure }}" style="text-decoration:none; padding: 10px 25px; float: left;">
				<img src="{{ config.getWebIndexDomainSecure }}/theme/default/img/logoHeaderEmail.png" alt=" ">
				<span style="font-size: 18pt; font-weight: bold; display: inline; margin: 0; padding: 0; color: black;">{{ config.installTitle }}</span>
			</a>
			<div style="clear: both"></div>
		</div>
		<div id="body" style="margin: 5px 30px; font-size: 1em;">
			{% block content %}{% endblock %}
		</div>
		<div id="footer" style="text-align: center; font-style: italic; margin: 50px 30px 30px 10px; font-size: 10pt;">
			<div style="padding: 0; background-color: {{ themeVariables.colourMain  }}; background-image: -webkit-linear-gradient(top,  {{ themeVariables.colourLighter1 }},  {{ themeVariables.colourMain }}); background-image: linear-gradient(to bottom,  {{ themeVariables.colourMain }},  {{ themeVariables.colourLighter1 }}); border-top:   {{ themeVariables.colourDarker2 }} 2px solid;">
                {% if config.siteWideMessageHTMLForEmail %}
					<div style="background: white; padding: 10px; max-width: 350px; float: right; text-align: center;   border-top-left-radius: 10px;  border-top-right-radius: 10px; margin: 10px 10px 0 10px;">
                        {{config.siteWideMessageHTMLForEmail|raw}}
					</div>
				{% endif %}
				<div style="clear: both"></div>
			</div>
			<a href="{{ config.getWebIndexDomainSecure() }}" style="text-decoration: none;"><img src="{{ config.getWebIndexDomainSecure() }}/theme/default/img/logo.png" alt="Logo" style="max-height: 15px; max-width: 15px; border: 0;"></a>
			<a href="https://sheffield.digital/">&copy; Sheffield Digital Limited  {{ COPYRIGHT_YEARS }}</a>
		</div>
	</body>
</html>
{# Use font-size as pt not em otherwise in GMail the font is really small! #}
